/*.main_container{}*/

.bordering{
    width: 100vw;
    
} 

.MainDiv {
    height: 100vh;
}

:root{
    --bookContainerSize: 100% 100%;
}

.title_container{
    display: flex;
    width: 100vw;
    justify-content: center;
    border: 1px solid #000000;
    background-color: #292775;
    color: white;
}

.session_container{
    margin-left: 25%;
    background-color: #292775;
    color: white;
    justify-content: center;
}

.body_container{
    display: flex;
    width: 100vw;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    color: blue;
}

.login_container{
    width: 100vw;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    color: blue;
}

.books_container{
    display: flex;
    width: 100vw;
}

.singlebook_container{
    color:white;
    padding: 2%;
    justify-content: center;
    align-content: center;
    background-image: url("../../images/book_icon.png");
    background-repeat: no-repeat;
    background-size: var(--bookContainerSize);
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color:#E85654;
  }
  
.nav_element{
    display: inline;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
.nav_element:hover {
    background-color: transparent;
    color: white;
}


.BookInventoryShow{
    width: 100vw;
}

.row{
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
}

.col-2{
    width: 100%;
    height: 100%;

}

.carousel{
    width: 100vw;
    height: 85vh;
}

.carousel-item{
    width: 100vw;
    height: 85vh;
}

