/*.main_container{}*/

/* .bordering{
    border: 1px solid #000000;
} */

.MainDiv {
    height: 100vh;
}

:root{
    --bookContainerSize: 100% 100%;
}

.title_container{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: blue;
    color: yellow;
}

.session_container{
    justify-content: center;
    margin-left: 25%;
    background-color: blue;
    color: yellow;
}

.body_container{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    color: blue;
}

.login_container{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    color: blue;
}

.books_container{
    display: flex;
    width: 100%;
}

.singlebook_container{
    color:white;
    padding: 2%;
    justify-content: center;
    align-content: center;
    background-image: url("../../images/book_icon.png");
    background-repeat: no-repeat;
    background-size: var(--bookContainerSize);
}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(145, 152, 255);
    border-radius: 100px;
  }
  
.nav_element{
    display: inline;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
.nav_element:hover {
    background-color: #555;
    color: white;
}